<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DataBase</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>saveProduct</display-name>
    <servlet-name>saveProduct</servlet-name>
    <servlet-class>saveProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveProduct</servlet-name>
    <url-pattern>/saveProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeProduct</display-name>
    <servlet-name>removeProduct</servlet-name>
    <servlet-class>removeProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeProduct</servlet-name>
    <url-pattern>/removeProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchProduct</display-name>
    <servlet-name>searchProduct</servlet-name>
    <servlet-class>searchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchProduct</servlet-name>
    <url-pattern>/searchProduct</url-pattern>
  </servlet-mapping>
</web-app>