<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>App_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoard</display-name>
    <servlet-name>DashBoard</servlet-name>
    <servlet-class>DashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoard</servlet-name>
    <url-pattern>/DashBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createCoolie</display-name>
    <servlet-name>createCoolie</servlet-name>
    <servlet-class>createCoolie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createCoolie</servlet-name>
    <url-pattern>/createCoolie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCookie</display-name>
    <servlet-name>viewCookie</servlet-name>
    <servlet-class>viewCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCookie</servlet-name>
    <url-pattern>/viewCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieCreate</display-name>
    <servlet-name>cookieCreate</servlet-name>
    <servlet-class>cookieCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieCreate</servlet-name>
    <url-pattern>/cookieCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuickActivity</display-name>
    <servlet-name>QuickActivity</servlet-name>
    <servlet-class>QuickActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuickActivity</servlet-name>
    <url-pattern>/QuickActivity</url-pattern>
  </servlet-mapping>
</web-app>